FIREBASE_APP_ID=primeverse-prod
FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"..."}
FIREBASE_WEB_CONFIG_JSON={"apiKey":"...","authDomain":"...","projectId":"...","storageBucket":"...","messagingSenderId":"...","appId":"..."}
PAKASIR_API_KEY=...
PAKASIR_SLUG=...
